In [1]:
# #Jupyter Notebook, BeautifulSoup, Pandas, and Requests/Splinter.
# ```python
#!pip install splinter
#!pip install selenium

In [1]:
from bs4 import BeautifulSoup as sp 
import pandas as pd
import os
import time
from splinter import Browser 
import requests
from datetime import datetime
from webdriver_manager.chrome import ChromeDriverManager 
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [2]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
    # Mars News URL of page to be scraped
browser.visit('https://mars.nasa.gov/news/')
# add waittime to delay loading the page in case page loads slow- splinter function
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [4]:
#slisting - need to get all the data

In [5]:
 # Retrieve the latest news title and paragraph
article_soup=sp(browser.html,'html.parser')
article_text = article_soup.select_one('div.list_text')
news_title = article_text.find('div', class_= 'content_title').get_text()

In [6]:
news = article_text.find('div', class_= 'article_teaser_body').get_text()

# Space Images

In [7]:
  # Mars Image to be scraped
browser.visit('https://spaceimages-mars.com')

In [8]:
# Find and select full image button
full_image_button = browser.find_by_tag('button')[1]
full_image_button.click()

In [9]:
# Parse html with soup
#html = browser.html
img_soup = sp(browser.html, 'html.parser')

In [10]:
    # Retrieve featured image link
relative_image_url = img_soup.find('img', class_='fancybox-image').get('src')
relative_image_url

'image/featured/mars2.jpg'

In [11]:
# Use the base url to create an absolute url
featured_image_url = f'https://spaceimages-mars.com/{relative_image_url}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

# Mars

In [12]:
  # Mars facts to be scraped
fact_table  = pd.read_html('https://galaxyfacts-mars.com')[0]
fact_table.head(10)

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
fact_table .columns=['Description', 'Mars', 'Earth']
fact_table .set_index('Description', inplace=True)
fact_table

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [19]:
#convert into html table
fact_table.to_html()
mars_fact_table_html = fact_table.to_html()
mars_fact_table_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# Hemisphere

In [ ]:
  # Mars hemisphere name and image to be scraped
browser.visit('https://marshemispheres.com')

In [ ]:
# list that holds images and titles.
Mars_hemisphere_image_urls = []

# Obtain a list of all hemispheres
item_links = browser.find_by_css('a.product-item img')
item_links[0].click()

In [ ]:
img_soup = sp(browser.html, 'html.parser')

In [ ]:
from bs4 import BeautifulSoup as sp 
#Cerberus_Hemisphere_image  = sp.find('div', {"class":'downloads'})

Cerberus_Hemisphere_image = img_soup.find('img', class_='wide-image').get('src')
Cerberus_Hemisphere_image

In [ ]:
Cerberus_Hemisphere_image = f'https://marshemispheres.com/{Cerberus_Hemisphere_image}'
Cerberus_Hemisphere_image

In [ ]:
#img_soup.find('div', class_='downloads')
#img_soup.find_by_text('Sample').first

In [ ]:
 #go to the page that has all of the hemispheres on it 

browser.visit('https://marshemispheres.com')
  # Iterate through each hemisphere data
Mars_hemisphere_image_urls = []

for i in range(len(item_links)):
    hemisphere = {}
    
    browser.find_by_css('a.product-item img')[i].click()
   
    sample_elem = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href'] 
    
    hemisphere['title'] = browser.find_by_css('h2.title').text
    hemisphere_image_urls.append(hemisphere)
    browser.back()

In [ ]:
# Get Hemisphere title
    #hemisphere['title'] = browser.find_by_css('h2.title').text

In [ ]:
    # Append hemisphere object to list
    #hemisphere_image_urls.append(hemisphere)

In [ ]:
    # Finally, we navigate backwards
    #browser.back()

In [ ]:
Mars_hemisphere_image_urls

In [ ]:
browser.quit()